header{
  background-image: url("8754E526-CD4C-4095-A4FC-8BB9E758BBF9.jpeg")
  background-size: contain;
}

main{

}

schedule{
  width:70%;
  text-align:center;
}

blog{
  width:70%;
  text-align:center;
}

footer{
  text-align:center;
}



