.header-background {
  background-image:url(5812F245-E582-4335-B44D-F6F8BBFEA7D4.jpeg);
  background-size:cover;
}

.header {
  height:100px;
  width:100%;
  background-color:black;
  opacity:0.9;
  position:fixed;
  z-index:10;
}

.header h1 {
  font-size:30px;
  letter-spacing:5px;
  float:left;
  color:white;
  opacity:1.0;
  margin-bottom:10px;
}

.header h1 span{
  color:red;
}

.sns a{
  font-family: monospace;
  float:right;
  color:white;
  opacity:1.0;
}

.youtube {
  
}

.youtube span{
  font-size:100px;
}

.instagram {
  
}

.instagram span{
    font-size:100px;
}

.twitter {
  
}

.twitter span{
  font-size:100px;
}

.kizai {
  
}

.kizai span{
  font-size:100px;
}

.schedule {
  text-align:center;
  padding-top:50px;
  padding-bottom:100px;
}

.schedule h2{
  color:black;
  font-size:50px;
}

.schedule p{
  color:black;
}

.blog {
  text-align:center;
  padding-top:50px;
  padding-bottom:100px;
}

.blog h2 {
  color:black;
  font-size:50px;
}

.blog {
  color:black;
}
